.Burger {
    width: 100%;
    align-items: left;
    margin: auto;
    height: 250px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
}

 @media(min-width:1000px) and (min-height: 700px) {
    .Burger {
        width: 600px;
        height: 500px;
    }
}

@media(min-width:500px) and (min-height: 401px) {
    .Burger {
        width: 400px;
        height: 350px;
    }
}

@media(min-width:350px) and (min-height: 300px) {
    .Burger {
        width: 300px;
        height: 260px;
    }
}

 @media(max-width:349px) and (max-height: 299px) {
    .Burger {
        width: 250px;
        height: 220px;
    }
} 


